language: node_js
node_js:
  - 8
cache:
  directories:
    - node_modules

before_script:
  - npm build
  - npm start --silent &

  - cypress verify
  
script:
  # run linter
  - npm run lint
  # run unit tests:
  - npm run test:unit
  # run E2E tests:
  - $(npm bin)/cypress run